extends layout

block content
  h1= title
  br
  br
  button(type='submit' onclick="newForm()") New Form
  script(src='/javascripts/index-script.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
